*:focus { outline: none; }
* {
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.es-button-white { font-size:12px; color:#324553; padding:3px 15px; background:#fff; border:1px solid #506d84; border-radius:3px; }

button:focus {
    outline: none;
    outline:  none !important;
}

body { margin:0px !important; background:#f2f6fa; font-family:'EW Regular' !important; }

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #293742;
    background-color: #293742;
}

.pomodoro-expired-alert .swal2-popup  { background: #f27474 !important; }
.pomodoro-expired-alert .swal2-popup  .swal2-icon { display:none !important; }
.pomodoro-expired-alert .swal2-popup  .swal2-title { font-size: 30px !important; padding-bottom: 0px !important; color: #fff !important; padding-top: 30px !important; }
.pomodoro-expired-alert .swal2-popup  .swal2-html-container { font-size: 20px !important; color:#fff !important; }
.pomodoro-expired-alert .swal2-popup  .swal2-confirm { border-radius:4px !important; border-radius: 2px !important; padding: 0px 10px; width: 120px; height: 35px; line-height: 35px;}


.es-right-side-content { text-align:left; padding-left:320px; }

.es-left-content { width:300px; background:#fff; min-height:100vh; height:100%; position:fixed; top:0px; left:0px; border-right:1px solid #e8e7e7; }
.es-left-content .logo { padding:10px 60px; text-align:center; border-bottom:1px solid #e8e7e7; }
.es-left-content .logo img { width:100% }
.es-left-content .header { padding:5px; background: #efefef; font-size:12px; }

.es-left-content .search-wrapper { padding:5px; border-bottom:1px solid #e8e7e7; position:relative; padding-right:25px;}
.es-left-content .search-wrapper .icon { position:absolute; top:12px; right:8px; }
.es-left-content .search-wrapper input { width:100%; border:none; height:30px; line-height:30px; padding:0px 8px;  }

.es-left-content .book-listing  .item { padding:8px; border-bottom:1px solid #e8e7e7; cursor:pointer;  }
.es-left-content .book-listing  .item.active {background:#d7e5f2;  }
.es-left-content .book-listing  .item:hover {background:#d7e5f2;  }
.es-left-content .book-listing  .item strong { font-size:18px;  }
.es-left-content .book-listing  .item p { margin:0px; font-size:12px;  }

.es-content { padding-left:310px; padding-right:310px; padding-top:10px; }
.es-content .inner { background:#fff; border:1px solid #e8e7e7; min-height:calc(100vh - 20px); }
.es-content .inner .header { padding:20px; border-bottom:1px solid #e8e7e7; position:relative; }
.es-content .inner .header p.date {  margin:0px; font-size:14px; }
.es-content .inner .header p.author { margin:0px; }
.es-content .inner .header .genres  { margin-top:10px; }
.es-content .inner .header .genres .item { background:#c6d6e5; color:#000; padding:5px 10px; font-size:12px; }
.es-content .inner .header .cta-container { background:#fff; border:1px solid #e8e7e7; padding:5px; border-radius:8px; position:absolute; bottom:-18px; right:20px; }
.es-content .inner .header .cta-container .btn-plain { padding:3px 5px; color:#8e8e8e; cursor:pointer; }

.es-content .inner .tabs { display:none; border-bottom:1px solid #e8e7e7; }
.es-content .inner .tabs a { display:inline-block; height:45px; line-height:45px; color:#404040; padding:0px 10px; font-size:12px; text-decoration:none; border-right:1px solid #e8e7e7; }
.es-content .inner .tabs a:not(:first-of-type) { margin-left:-5px; }
.es-content .inner .tabs a:hover { font-family:'Gotham Bold'; background:#d7e5f2; }
.es-content .inner .tabs a.active { font-family:'Gotham Bold'; background:#d7e5f2; }
.es-content .inner .tabs a:last-child { border-right:none; }
.es-content .inner .tabs a i { font-size:20px; }

.es-right-content { position:fixed; top:0px; right:0px; width:300px; height:100vh; background:#fff; border-left:1px solid #e8e7e7; padding-top:10px; }
.es-right-content .toggler-group { padding:3px 10px; display: flex; justify-content: center; }
.es-right-content .toggler-group .item {cursor:pointer; padding:3px; border:1px solid #e8e7e7; height:80px; width:90px; margin:0px 5px; padding:15px 3px; text-align:center; }
.es-right-content .toggler-group .item:hover { background:#d7e5f2; }
.es-right-content .toggler-group .item.active { background:#d7e5f2; }
.es-right-content .toggler-group .item i { font-size:30px; }
.es-right-content .toggler-group .item p { margin:0px; font-size:10px; font-family:'Gotham Medium'; }
.es-right-content .header { margin-top:10px; padding:5px; background: #efefef; font-size:12px; }

.es-right-content .search-wrapper { padding:5px; border-bottom:1px solid #e8e7e7; position:relative; padding-right:25px;}
.es-right-content .search-wrapper .icon { position:absolute; top:12px; right:8px; }
.es-right-content .search-wrapper input { width:100%; border:none; height:30px; line-height:30px; padding:0px 8px;  }

.es-right-content .item-listing  .item { padding:8px; border-bottom:1px solid #e8e7e7; cursor:pointer;  }
.es-right-content .item-listing  .item.active {background:#d7e5f2;  }
.es-right-content .item-listing  .item:hover {background:#d7e5f2;  }
.es-right-content .item-listing  .item strong { font-size:18px;  }
.es-right-content .item-listing  .item p { margin:0px; font-size:12px;  }


ul { margin-left:0px; list-style:none;  }

.left-side-bar { position:fixed; top:0px; left:0px; background:#293742; width:320px; height:100vh; overflow-y:auto; }

.left-side-bar .header { text-align:center; height:70px; line-height:70px; border-bottom:1px solid #3c505f; padding:0px 10px; }
.left-side-bar .header img { height:60px; }

.left-side-bar .search-box { height:40px; line-height:40px; border-bottom:1px solid #3c505f; padding:0px 5px; position:relative; }
.left-side-bar .search-box .icon { position:absolute; top:8px; right:8px; color:#506d84; font-size:25px; }
.left-side-bar .search-box input { background:#324553; width:100%; height:30px; border:none; color:#fff; padding:0px 5px; padding-right:35px;  }
.left-side-bar .search-box input:focus, .search-box input:active{ background:#324553; }
.left-side-bar .search-box input::placeholder { color: #506d84; }

/*
.es-tree-view { padding:10px 5px; }

.es-tree-view ul { padding-left:10px; text-align: left; }
.es-tree-view ul.level-1 { padding-left:10px !important; }
.es-tree-view ul:not(:first-child) { padding-left:30px; }
.es-tree-view ul li  { padding-top:10px; cursor:pointer; }
.es-tree-view ul li  img { height:14px; }
.es-tree-view ul li .label { font-family:'Crimson Roman'; color:#abc4d7; font-size:18px; }
.es-tree-view ul li .label span i { padding-right:5px; }
.es-tree-view ul li .label:hover { color:#fff; }

.es-tree-view ul.level-1 > li > .label { text-decoration:none; }

.es-tree-view ul.level-1 > li > ul  { position:relative;  }
.es-tree-view ul.level-1 > li > ul:after { height:100%; width:1px; content:''; border-left:1px #abc4d7 dotted ; position:absolute; top:0px; left:12px; }

.es-tree-view ul.level-2 > li  { position:relative;  }
.es-tree-view ul.level-2 > li:after  { content:''; position:absolute; top:18px; left:-10px; width:12px; height:1px; border-bottom:1px #abc4d7 dotted;  }

.es-tree-view ul.level-2 > li ul { position:relative;  }
.es-tree-view ul.level-2 > li ul:after { height:100%; width:1px; content:''; border-left:1px #abc4d7 dotted ; position:absolute; top:0px; left:12px; }

.es-tree-view ul.level-3 > li  { position:relative;  }
.es-tree-view ul.level-3 > li:after  { content:''; position:absolute; top:18px; left:-10px; width:12px; height:1px; border-bottom:1px #abc4d7 dotted;  }

.es-tree-view ul.level-3 > li ul { position:relative;  }
.es-tree-view ul.level-3 > li ul:after { height:100%; width:1px; content:''; border-left:1px #abc4d7 dotted ; position:absolute; top:0px; left:9px; }

.es-tree-view ul.level-4 > li  { position:relative;  }
.es-tree-view ul.level-4 > li:after  { content:''; position:absolute; top:18px; left:-10px; width:12px; height:1px; border-bottom:1px #abc4d7 dotted;  }

.es-tree-view ul.level-4 > li ul { position:relative;  }
.es-tree-view ul.level-4 > li ul:after { height:100%; width:1px; content:''; border-left:1px #abc4d7 dotted ; position:absolute; top:0px; left:12px; }

.es-tree-view .level-1 li ul, .es-tree-view .level-1 li > ul > li { display:none; }
.es-tree-view .level-1 li.open ul, .es-tree-view .level-1 li.open > ul > li{ display:block; }

.es-tree-view .level-2 li ul, .es-tree-view .level-2 li > ul > li { display:none; }
.es-tree-view .level-2 li.open ul, .es-tree-view .level-2 li.open > ul > li{ display:block; }

.es-tree-view .level-3 li ul, .es-tree-view .level-3 li > ul > li { display:none; }
.es-tree-view .level-3 li.open ul, .es-tree-view .level-3 li.open > ul > li{ display:block; }
*/
.es-tree-view, .es-tree-view  ul { margin:0; padding:0; list-style:none; }
.es-tree-view ul { margin-left:1em; position:relative }
.es-tree-view ul.level-1 { margin-left: 0em; }
.es-tree-view ul ul { margin-left:.5em }
.es-tree-view ul:before { content:""; display:block; width:0; position:absolute; top:0; bottom:0; left:0; border-left:1px dotted; }
.es-tree-view ul.level-1:before { display:none; }
.es-tree-view li { margin:0; padding:0 1em; line-height:2em; color:#abc4d7; position:relative; cursor:pointer; }
.es-tree-view ul li:before { content:""; display:block; width:10px; height:0; border-top:1px dotted; margin-top:-1px; position:absolute; top:1em; left:0 }
.es-tree-view > ul.level-1 > li:before { display:none; }
.es-tree-view ul li:last-child:before { background:#293742; height:auto; top:1em; bottom:0 }
.es-tree-view ul li img { height:14px; }
.es-tree-view li a { text-decoration: none; color:#369; }
.es-tree-view .level-1 li ul, .es-tree-view .level-1 li > ul > li { display:none; }
.es-tree-view .level-1 li.open ul, .es-tree-view .level-1 li.open > ul > li{ display:block; }

.es-row { display:flex; flex-wrap: wrap; }
.es-row .es-col { width:25%; padding:10px; }

/* .es-top-nav { background:#293742; border-left:1px solid #324553; border-bottom:1px solid #506d84; height:40px; line-height:40px; padding:0px 10px; text-align:right; } */

.es-top-nav button {
    color: rgb(255, 255, 255); padding: 0px 0px 0px 10px; margin: 0px; border: none; font-size: 12px; padding: 0px 15px; height: 30px; line-height: 30px; background: #496d7d; text-transform: uppercase;
 }

.es-tab-nav { background:#324553; border-bottom:2px solid #293742; display:flex; }
.es-tab-nav .es-tab-nav-item { color:#fff; position:relative; width:150px; height:35px; font-size:12px; border-right:1px solid #506d84; }
.es-tab-nav .es-tab-nav-item.active { background:#f5f8fa; color:#000; }
.es-tab-nav .es-tab-nav-item.modified { border-top:2px solid #d81543; }
.es-tab-nav .es-tab-nav-item.active:before { content:''; position:absolute; top:-1px; left:0px; width:100%; }
.es-tab-nav .es-tab-nav-item.active:after { content:''; position:absolute; bottom:-2px; left:0px; width:100%; border-right:2px solid #f7f9fb;  border-bottom:2px solid #f7f9fb;}
.es-tab-nav .es-tab-nav-item .es-tab-title { cursor:pointer; position:absolute; top:0px; left:0px; width:100%; height:100%; line-height:35px; padding:0px 10px;  padding-right:20px; text-align:center; white-space: nowrap; overflow:hidden; text-overflow: ellipsis; }
.es-tab-nav .es-tab-nav-item .es-tab-title .icon { color:#d81543; font-size:16px; }
.es-tab-nav .es-tab-nav-item .es-tab-closer { position:absolute; top:9px; right:7px; cursor:pointer; }

.es-item-content {  display:none; }
.es-item-content.active { display:block; }

.es-page-head { background:#f5f8fa; padding:30px 20px; border-bottom:1px solid #e0e5ee; height:100px;}
.es-page-head .inner { display:flex; justify-content: space-between; }
.es-page-head .inner .details h4 { color:#324553; margin:0px; }
.es-page-head .inner .details small { font-size:14px; color:#506d84; }
.es-page-head .inner .actions { min-width:150px; text-align:right; }
.es-page-head .inner .actions .es-button-white { font-size:12px; color:#324553; padding:3px 15px; background:#fff; border:1px solid #506d84; border-radius:3px; }
.es-page-head .inner .actions .es-button-red { font-size:12px; color:#fff; padding:3px 15px; background:#6f2f3c; border:1px solid #682b37; border-radius:3px; }

.es-page-breadcrumbs  { padding:0px 10px; height:40px; line-height:40px; background:#fff; border-bottom:1px solid #ccc; }
.es-page-breadcrumbs button { border:none; background:transparent; max-width:120px; overflow:hidden; white-space: nowrap; text-overflow: ellipsis; }
.es-page-breadcrumbs button.current { opacity: 0.5; cursor:default !important; }


.es-page-content {  height:calc(100vh - 225px); width:100%; padding-top:30px; padding-bottom:30px; overflow-y:auto;}
.es-page-content .es-panel { margin:0px auto; margin-bottom:20px; padding:20px 20px; background:#fff; border:1px solid #e0e5ee; width:calc(100% - 40px); max-width:1320px;  }

.es-page-content .form-control { font-size:16px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; height: 40px; line-height:40px; background-color: #f5f8fa; border: 1px solid #cbd6e2; padding:0px 15px; color: #33475b;}
.es-page-content .multiselect { font-size:16px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;  background-color: #f5f8fa; border: 1px solid #cbd6e2; color: #33475b; border: 1px solid #cbd6e2; }
.es-page-content .multiselect .multiselect__tags { background: #f5f8fa; }
.es-page-content .multiselect .multiselect__tags .multiselect__tag { background: #506d84; }
.es-page-content .multiselect .multiselect__tags .multiselect__tag .multiselect__tag-icon:after { color:#fff; }
.es-page-content .multiselect .multiselect__tag-icon:focus, .es-page-content .multiselect__tag-icon:hover { background: transparent; }

.tox-tinymce { border: 1px solid #cbd6e2 !important; }
.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary { background:#f5f8fa !important; border-bottom:1px solid #cbd6e2;}
.tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type) { border-right:none !important; }

.swal2-modal { border-radius:3px !important; }
.swal2-title { font-size:20px !important; padding-bottom:30px !important; }
.swal2-confirm { background-color: #293742 !important; }
.swal2-cancel { background-color: #792e3b !important; }

.ellipsis-1 {
  word-wrap: break-word;
  display: -webkit-box!important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-2 {
  word-wrap: break-word;
  display: -webkit-box!important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-3 {
    word-wrap: break-word;
    display: -webkit-box!important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.b-overlay .position-absolute {
  width: 75%;
}

.b-overlay .bg-light{ background-color: #324553!important; width: 100% }

.was-validated .form-control:invalid, .form-control.is-invalid { border-color: #dc3545!important;}

@media screen and (max-width: 1300px) {
	.es-content { padding-right:10px;  }
	.es-content .header .cta-container { display:none;  }
	.es-content .inner .tabs { display:block; border-bottom:1px solid #e8e7e7; }

    .es-right-content { display:none; }

    .es-row .es-col { width:33.33%; padding:10px; }
}

